@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@media only screen and (max-width : 1000px) {
	.verh{
		width: 300px;
	}
	.borjomi{
		font-size: 10px;
	}
	.inform4 img{
		width: 250px;
		height: 250px;
	}
}

*{
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar{
	width: 10px;
	background: goldenrod;
}
::-webkit-scrollbar-thumb{
	background: grey;
	border-radius: 100px;
}
body{
	font-family:Cascadia Code;
	background-color: #5F6A61;
	color: white;
	background: #5F6A61 url('wall.gif') no-repeat;
	background-size: cover;
}
p,h3,span{
	cursor: pointer;
	line-height: 23px;
	padding-bottom: 20px;
	text-indent: 1.5em;
}
a{
	font-style: italic;
	color: white;
	text-decoration: none;
}
a:hover {
	color:silver;
	font-style: normal;
	text-decoration: underline;
	text-decoration-color: white;
}
.verh{
	display:inline-flex;
	justify-content: space-around;
	width: 90%;
	margin: 20px;
}
.verh img{
	height: 100px;
	width: 100px;
}
.verh h4{
	color: #FFA500;
	padding: 30px 0 0 15px;
}
.verh marquee{
	margin-left: 30px;
	border:solid red;
	border-top: 50px;
	border-bottom: 50px;
	border-radius: 50px;
	border-color: white;
}
.rotate{
	transform: rotateY(180deg);
}
marquee img{
	padding: 0 15px 0 15px;
}
.mezh{
	text-align: center;
}
.mezh img{
	margin-bottom: 20px;
	border-radius: 120px;
}
.duck{
	display: flex;
	justify-content: center;
}
div h1{
	font-size: 3.5em;
	font-family: 'Poor Story', cursive;
	color: yellowgreen;
	margin: 15px;
}
.borjomi{
	background-color:#0F3D4E;
	border-radius: 65px;
	width: 85%;
	height: 1620px;
	margin-left: 70px;
	box-shadow: 0 0 1px silver;
	padding: 10px 50px 50px 50px;
}
.inform1{
	display: inline-flex;
	justify-self: space-between;
	text-align:justify;
	margin: 10px 0 0 10px ;
}
.inform1 img: hover{
	filter: grayscale(0%);
}
.inform1 h3{
	text-align: center;
	color: white;
	text-align:justify;
	padding: 40px 0 40px 40px;
}
.inform2{
	text-align:justify;
	display: inline-flex;
	justify-self: space-between;
	padding-top: 30px ;
}
.inform2 p{
	padding-right: 40px;
}
.inform3{
	text-align:justify;
}
.trai{
	text-align: center;
	margin-bottom: 30px;
}
.trai video{
	border-radius: 25px;
	box-shadow: 0 0 2px silver;

}
.niz-vid{text-align:justify;
}
.niz-vid::after{
	margin: 25px;
	content: 'Основная цель игры состоит в том, чтобы привести необходимое количество шариков Goo до трубы, которая является выходом. Для того чтобы сделать это, игрок должен использовать шарики Гуу для строительства мостов, башен и других сооружений на преодоление гравитации в различных местах, таких как подземелья, холмы, пропасти или скалы. Все шарики, которые игрок собрал сверх необходимых на данном уровне, отправляются в World of Goo Corporation. ';
}
.inform4{
	text-align:justify;
	display:flex;
	justify-self: space-between;
	margin-top: 30px ;
	padding-top: 30px ;
}
.gray{
	filter: grayscale(100%);
}
.inf4-column{
	margin-left: 40px;
	display:flex;
	justify-self: space-around;
	flex-direction: column;
	align-items: center;
}
.ricks{
	display:flex;
	justify-self: space-around;
	flex-direction: row;
	align-items: center;
}
.ricks img{
	padding: 0 40px 0 40px;
}
.dom{
	background: url(ground2.png) bottom center repeat-x;
	background-attachment: attachmen;
	background-size: initial;
	padding-top: 70px;
}
.dom a img{
	transform: rotate(-180deg);
	margin: 0 15px 15px 15px;
	padding-top: 15px;
}	
